@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .chat-message {
        @apply py-3 px-6 rounded-3xl;
        max-width: 80%;
    }

    .text-normal {
        @apply text-base font-pop-medium;
    }

    .input-styles {
        @apply border px-4 border-[#4CAF50] w-full rounded-[10px] mb-5 bg-[#E8F5E950] placeholder:text-[#14371680];
        height: 50px;
    }

    .heading-styles {
        @apply text-5xl text-[#2E7D32] font-pop-medium mb-10;
        height: 50px;
    }
}

.innerShadow {
    box-shadow: 0px 0px 52px 11px rgba(76, 175, 80, 0.49) inset;
    -webkit-box-shadow: 0px 0px 52px 11px rgba(76, 175, 80, 0.49) inset;
    -moz-box-shadow: 0px 0px 52px 11px rgba(76, 175, 80, 0.49) inset;
}